@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #CAEB66;
  --color-secondary: #03464D;
}

* {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Swiper blur + fade for testimonials */
.testimonial-swiper .swiper-slide {
  transition: all 0.4s ease;
  filter: blur(1px);
  opacity: 0.25;
  transform: scale(0.9);
}

.testimonial-swiper .swiper-slide-active {
  filter: blur(0);
  opacity: 1;
  transform: scale(1);
}